form {
    padding : 20px 0px 0px 0px;
}

.tabbable {
    margin: 20px;
    height: 400px;
    overflow: hidden;
}

.nav-tabs {
    margin-bottom: 0px;
}

.tab-content {
    /*height: 100%;*/
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}
