<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Gaël Yimen Yimga Website - Contact Us</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/GYYWebSite-ContactUsStyle.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body>
        <div id="GYYWebSite-homepage" class="container-fluid">
            <!-- start of navigation bar-->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">GYY Website</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#">Welcome</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">What we do</a></li>
                        <li><a href="#">Investment</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li class="active"><a href="#">Contact</a></li>
                    </ul>
                    <form class="form-inline navbar-form navbar-right">
                        <button type="submit" class="btn btn-primary">Log In</button>
                        <button type="submit" class="btn btn-default">Sign Up</button>
                    </form>
                </div>
            </nav> <!-- end of navigation bar-->

            <div class="row">
                <div class="col-xs-8">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <h2>Contact Us.</h2>
                        <p>Contact us about anything related to our company or services. We will do our best to get back to you as soon as possible.</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div>
                                    <input type="firstlastname" class="form-control" id="name" placeholder="Your Full Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="phonenumber" class="form-control" id="name" placeholder="Your Phone number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="company" class="form-control" id="name" placeholder="Your company">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="subject" class="form-control" id="name" placeholder="Subject of your request">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="comment">Your question : </label>
                                    <textarea class="form-control" rows="5" id="question"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn center-block btn-primary">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="col-xs-4">
                    <h3>GYY Website</h3>
                    <address>
                        8710 5th Ave. W <br>
                        Everett <br>
                        WA, 98204 <br>
                        <span class="glyphicon glyphicon-earphone"></span> +1 508 502 8122 <br>
                        <span class="glyphicon glyphicon-envelope"></span> yimengael@gmail.com
                    </address>
                    <div id="map"></div>
                    <script type="text/javascript">
                        function myMap() {
                            var mapCanvas = document.getElementById("map");
                            var mapOptions = {
                                center: new google.maps.LatLng(47.982567, -122.193375),
                                zoom: 10
                            };
                            var map = new google.maps.Map(mapCanvas, mapOptions);
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
                </div>
            </div>
        </div> <!-- end of container -->

        <!-- FOOTER-->
        <footer class="footer">
            <div class="container">
                <div class="col-xs-6">
                    <div class="footer_left">
                        <p class="footer-links">
                            <a href="#">Home</a>
                            ·
                            <a href="#">Blog</a>
                            ·
                            <a href="#">Pricing</a>
                            ·
                            <a href="#">About</a>
                            ·
                            <a href="#">Faqs</a>
                            ·
                            <a href="#">Contact</a>
                        </p>
                        <p>GYY Website &copy; 2016</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="footer-right">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
