<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Gaël Yimen Yimga Website</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/GYYWebSite-style.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="GYYWebSite-homepage" class="container-fluid">
            <!-- start of navigation bar-->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">GYY Website</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Welcome</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">What we do</a></li>
                        <li><a href="#">Investment</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <form class="form-inline navbar-form navbar-right">
                        <button type="submit" class="btn btn-primary">Log In</button>
                        <button type="submit" class="btn btn-default">Sign Up</button>
                    </form>
                </div>
            </nav> <!-- end of navigation bar-->

            <div class="jumbotron">
                <div class="container container-jumbotron">
                    <h2 class="text-center">Join our community. Start asking. Find Assistance.</h2>
                    <p class="text-center">Join over 100,000 customers and improve your business</p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <input type="firstlastname" class="form-control" id="name" placeholder="First and Last name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <button type="submit" class="btn btn-block btn-primary">Sign Up & Start asking</button>
                            </div>
                        </div>
                    </form>
                    <h6 class="text-center">By signing up you agree to our <a>Terms of Service</a> and <a>Privacy Policy</a></h6>

                </div>
            </div><!-- end of jumbotron-->

            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
            <div class="container marketing">
                <!-- Four columns of text below the jumbotron -->
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="250" height="140">
                        <h2>Heading</h2>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3">
                        <img class="img-rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="250" height="140">
                        <h2>Heading</h2>
                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3">
                        <img class="img-rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="250" height="140">
                        <h2>Heading</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3">
                        <img class="img-rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="250" height="140">
                        <h2>Heading</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->


            <!-- FOOTER -->
            <!-- <footer>
                <p>&copy; 2016 GYY Website, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer> <!--end of footer-->
            <footer class="footer">
                <div class="footer-distributed">
                    <div class="footer-right">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                    <div class="footer-left">
                        <p class="footer-links">
                        	<a href="#">Home</a>
                        	·
                        	<a href="#">Blog</a>
                        	·
                        	<a href="#">Pricing</a>
                        	·
                        	<a href="#">About</a>
                        	·
                        	<a href="#">Faqs</a>
                        	·
                        	<a href="#">Contact</a>
                        </p>
                        <p>GYY Website &copy; 2016</p>
                    </div>
                </div>
    		</footer>

        </div><!-- end of the wrapper -->

    </body>

</html>
