<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Gaël Yimen Yimga Website</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/GYYWebSite-style.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="GYYWebSite-homepage">
            <!-- start of navigation bar-->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">GYY Website</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">For developers</a></li>
                        <li><a href="#">For company</a></li>
                        <li><a href="#">For shcools</a></li>
                        <li><a href="#">Contact me</a></li>
                    </ul>
                    <form class="form-inline navbar-form navbar-right">
                        <button type="submit" class="btn btn-primary">Log In</button>
                        <button type="submit" class="btn btn-default">Sign Up</button>
                    </form>
                </div>
            </nav> <!-- end of navigation bar-->
        </div>



    </body>

</html>
